<?xml version="1.0" encoding="UTF-8"?>
<graphml xmlns="http://graphml.graphdrawing.org/xmlns/graphml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:y="http://www.yworks.com/xml/graphml" xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns/graphml http://www.yworks.com/xml/schema/graphml/1.0/ygraphml.xsd">
  <key for="node" yfiles.type="nodegraphics" id="d0"/>
  <key for="node" attr.name="description" attr.type="string"  id="d1"/>
  <key for="edge" yfiles.type="edgegraphics" id="d2" />
  <key for="edge" yfiles.type="edgegraphics" id="d3"/>
  <key for="edge" attr.name="description" attr.type="string" id="d4"/>
  <key for="graphml" yfiles.type="resources" id="d5"/>