  <data key="d0">
    <y:ShapeNode>
      <y:Geometry height="50.0" width="180.0" x="151.0" y="165.0"/>
      <y:Fill color="@COLOR@" transparent="false"/>
      <y:BorderStyle color="#000000" type="line" width="1.0"/>
      <y:NodeLabel alignment="center" autoSizePolicy="content" fontFamily="Dialog" fontSize="12" fontStyle="plain" hasBackgroundColor="false" hasLineColor="false" height="18.701171875" modelName="internal" modelPosition="c" textColor="#000000" visible="true" width="43.0" x="-6.5" y="5.6494140625">@NAME@</y:NodeLabel>
      <y:Shape type="roundrectangle"/>
    </y:ShapeNode>
  </data>